.principal_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    background-image: url('./assets/fondo_mission.jpg');
    background-size: cover;
}

.univerity_title {
    text-transform: uppercase;
    margin-top: 20px;
}

.university_title-main {
    font-size: 50px;
    font-weight: 600;
    font-family: Teko;
    text-align: center;
}

.university_separator {
    margin: 0px auto 40px;
    width: 45%;
}

.title_main {
    font-family: Teko;
    color: #9d9600;
    font-size: 250%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: inline;
}

.subtitle_main {
    font-family: Teko;
    color: black;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    display: inline;
    width: 95%;
}

.content_universities_main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #0007;
    box-sizing: border-box;
}



.grid_universities {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.uni_publ {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;

}

.uni-img{
    width: 100%;
    height: 100%;
}

.img1 {
    object-fit: contain;
    width: 90%;
}

.info_uni_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.uni_link {
    font-family: Teko;
    color: black;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    display: inline;
    width: 95%;
    text-transform: uppercase;
}

.UAM {
    background-image: url(../../../../public/assets/university/UAM.png);
}

.UA {
    background-image: url(../../../../public/assets/university/UA.png);
}

.UPM {
    background-image: url(../../../../public/assets/university/UPM.png);
}

.UC3 {
    background-image: url(../../../../public/assets/university/UC3.png);
}

.IF {
    background-image: url(../../../../public/assets/university/IF.png);
}

.UCM {
    background-image: url(../../../../public/assets/university/UCM.png);
}