section.promo {
    height: 82vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
}






#nba {
    animation-delay: 10s;
    background-image: url(https://compass-ssl.xbox.com/assets/ec/53/ec536eac-8f45-4a67-93ca-caf2f403d4bc.jpg?n=NBA-2K22_Feature-Full-Width-0_Luka_1248x702.jpg);
}

#f1 {
    animation-delay: 20s;
    background-image: url(https://cdn-1.motorsport.com/images/amp/0L1ElEJ2/s1000/formula-1-spanish-gp-2022-lanc-2.jpg);
}

@keyframes slider-animation {

    0% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.contenido-promo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.titulo-promo {
    font-family: Teko;
    color: #a09600;
    font-size: 70px;
    width: 445px;
    text-align: center;
}

h2.titulo2-promo {
    color: dodgerblue;
    margin: 0;
    font-size: 70px;
}

.botones {
    width: 40%;
    display: flex;
    justify-content: space-around;
}