.blogPost{
    width: 49%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
    display: flex;
    color: black;
}
.blogPost__picture{
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.blogPost__text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blogPost__title{
    margin: 0 auto;
    width: 100%;
    font-family: Teko, 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 45px;
}
.blogPost__content{
    box-sizing: border-box;
    padding: 5px 25px;
}
.blogPost__content__p{
    display: inline-block;
    color: gray;
    font-size: 13px;
    text-align: justify;
}
.blogPost__info{
    width: 100%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    padding: 5px 3%;
}

.blogPost__info__author{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
}
.blogPost__info__author__img{
    height: 100%;
    border-radius: 50%;
}

@media (orientation:portrait){
    .blogPost{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
    
    .blogPost__picture{
        width: 100%;
        height: 500px;
    }

    .blogPost__text{
        width: 100%;
    }

    .blogPost__content__p{
        display: none;
    }

    .blogPost__info{
        align-items: center;
    }
}