.player_personal_content {
    width: 100%;
    background-color: white; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.player_img {
    background-image: url('./assets/fondo_mission.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.small_info_player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: opacity(0.5);
    background-color: #221f20;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.info_text {
    font-family: Teko;
    margin: 0;
    color: #a09600;
}

.posi {
    font-size: 30px;
    font-weight: 1000;
    text-transform: uppercase;
}

.name {
    font-size: 100px;
    font-weight: 1000;
}

.number {
    font-size: 50px;
    font-weight: 1000;
}

.player_info {
    display: grid;
    grid-template-columns: 1.5fr 0.4fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.img_player {
    background-image: url('./assets/jugador.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img_back {
    background: url('./assets/sporting_logo.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.content_title_box {
    display: flex;
    flex-direction: column;
}

.content_title {
    text-transform: uppercase;
    margin-top: 20px;
}

.content_title_main {
    font-size: 30px;
    font-weight: 600;
    font-family: Teko;
    text-align: center;
}

.content_separator {
    margin: 0px auto 40px;
    width: 45%;
}

.data_person {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.content_data_person {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.content_text_main {
    font-size: 25px;
    font-weight: 600;
    font-family: Teko;
    color: black;
}

.content_text_not_main {
    font-size: 30px;
    font-weight: 600;
    font-family: Teko;
    color: gray;
}

.trayectoria_stats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
}

.stats{
    display: flex;
    flex-direction: column;
}

.stats_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.content_stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats_infoNumber{
    font-size: 40px;
    font-weight: 600;
    font-family: Teko;
    color: black;
}

.stats_infoText{
    font-size: 20px;
    font-weight: 600;
    font-family: Teko;
    color: gray;
}

.trayectoria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}