.box-player {
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    transition-property: transform;
    border-radius: 0.313rem;
    background: #f8f8f8;
    background: linear-gradient(to bottom, #f8f8f8 0%, #d9d9d9 100%);
    visibility: hidden;
    display: none;
}

.box-player::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse closest-side at center, rgba(0,0,0,0.68) 0%,rgba(0,0,0,0.8) 100%);
    z-index: 4;
    transition: all 0.35s ease-in-out;
    opacity: 0;
}

.box-player:hover::before{
    opacity: 1;
}

.show {
    visibility: visible;
    display: block;
    height: 29rem;
    width: 18rem;
    margin-right: 20px;
    margin-bottom: 30px;
}

.card-link{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

.player-name{
    position: absolute;
    z-index: 2;
    top: 2rem;
    left: 1.5rem;
    font-size: 3rem;
    font-weight: 500;
    font-family: Teko;
    line-height: 0.75rem;
    text-transform: uppercase;
    color: #444;
}

.player-position{
    position: absolute;
    z-index: 2;
    top: 3.825rem;
    left: 1.5rem;
    font-size: 1.438rem;
    font-weight: 400;
    font-family: Teko;
    line-height: 0.75rem;
    text-transform: uppercase;
    color: #777;
}

.player-number{
    position: absolute;
    z-index: 2;
    top: 5.388rem;
    left: 1.5rem;
    text-align: left;
    font-size: 3.125rem;
    font-weight: 500;
    font-family: Teko;
    line-height: 2.688rem;
    letter-spacing: -1px;
    color: #000;
}

.player-image{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30rem;
    width: auto;
    object-fit: cover;
    object-position: 0 0;
    font-family: "object-fit: cover;";
}

.player-card-profile{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: Poppins;
    font-size: 1.313rem;
    font-weight: 400;
    letter-spacing: -0.26px;
    z-index: 6;
    text-transform: uppercase;
    opacity: 0;
}

.box-player:hover .player-card-profile{
    opacity: 1;
}