@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dadce1;
  width: 100%;
  margin: 0;
  font-family: Poppins;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}